Repository Lawd-STAR/DetStream-Vision-Agents, changes with the labels that .github/labeler.yml gives for each.
All labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, tests, docs, config, ci, core-agents, core-infrastructure, cli, dependencies, assets, legal, project-info

.github/labeler.yml:

---
# Core Framework Components
agents-core:
  - agents-core/**
  - '!agents-core/**/tests/**'
  - '!agents-core/**/__pycache__/**'

# Plugin System
plugins:
  - plugins/**
  - '!plugins/**/tests/**'
  - '!plugins/**/__pycache__/**'

# Specific Plugin Labels
plugin-getstream:
  - plugins/getstream/**
  - '!plugins/getstream/**/tests/**'

plugin-openai:
  - plugins/openai/**
  - '!plugins/openai/**/tests/**'

plugin-gemini:
  - plugins/gemini/**
  - '!plugins/gemini/**/tests/**'

plugin-deepgram:
  - plugins/deepgram/**
  - '!plugins/deepgram/**/tests/**'

plugin-ultralytics:
  - plugins/ultralytics/**
  - '!plugins/ultralytics/**/tests/**'

plugin-elevenlabs:
  - plugins/elevenlabs/**
  - '!plugins/elevenlabs/**/tests/**'

plugin-cartesia:
  - plugins/cartesia/**
  - '!plugins/cartesia/**/tests/**'

plugin-kokoro:
  - plugins/kokoro/**
  - '!plugins/kokoro/**/tests/**'

plugin-moonshine:
  - plugins/moonshine/**
  - '!plugins/moonshine/**/tests/**'

plugin-silero:
  - plugins/silero/**
  - '!plugins/silero/**/tests/**'

plugin-smart-turn:
  - plugins/smart_turn/**
  - '!plugins/smart_turn/**/tests/**'

plugin-wizper:
  - plugins/wizper/**
  - '!plugins/wizper/**/tests/**'

plugin-xai:
  - plugins/xai/**
  - '!plugins/xai/**/tests/**'

plugin-krisp:
  - plugins/krisp/**
  - '!plugins/krisp/**/tests/**'

plugin-anthropic:
  - plugins/anthropic/**
  - '!plugins/anthropic/**/tests/**'

# Examples and Demos
examples:
  - examples/**
  - '!examples/**/tests/**'
  - '!examples/**/__pycache__/**'

# Testing
tests:
  - tests/**
  - '**/tests/**'
  - '**/test_*.py'
  - '**/*_test.py'

# Documentation
docs:
  - docs/**
  - '*.md'
  - '!README.md'

# Configuration and Build
config:
  - '*.toml'
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.ini'
  - '*.cfg'
  - 'pyproject.toml'
  - 'pytest.ini'
  - 'conftest.py'

# CI/CD and GitHub
ci:
  - '.github/**'
  - '*.yml'
  - '*.yaml'

# Core Agent System
core-agents:
  - agents-core/vision_agents/core/agents/**
  - agents-core/vision_agents/core/events/**
  - agents-core/vision_agents/core/edge/**

# Core Infrastructure
core-infrastructure:
  - agents-core/vision_agents/core/llm/**
  - agents-core/vision_agents/core/stt/**
  - agents-core/vision_agents/core/tts/**
  - agents-core/vision_agents/core/vad/**
  - agents-core/vision_agents/core/turn_detection/**
  - agents-core/vision_agents/core/processors/**
  - agents-core/vision_agents/core/mcp/**
  - agents-core/vision_agents/core/observability/**
  - agents-core/vision_agents/core/utils/**

# CLI and Development Tools
cli:
  - agents-core/vision_agents/core/cli.py
  - dev.py
  - DEVELOPMENT.md

# Dependencies
dependencies:
  - 'uv.lock'
  - 'requirements*.txt'
  - 'poetry.lock'
  - 'Pipfile.lock'

# Assets and Resources
assets:
  - assets/**
  - '*.png'
  - '*.jpg'
  - '*.jpeg'
  - '*.gif'
  - '*.mp4'
  - '*.wav'
  - '*.mp3'

# License and Legal
legal:
  - LICENSE
  - LICENSE.*
  - '*.license'

# README and Project Info
project-info:
  - README.md
  - CHANGELOG.md
  - CONTRIBUTING.md
  - SECURITY.md

well, this is weird
  agents-core/vision_agents/core/edge/sfu_events.py
  tests/test_events.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, tests, docs, core-agents

cleanup
  agents-core/vision_agents/core/agents/agents.py
  agents-core/vision_agents/core/edge/sfu_events.py
  agents-core/vision_agents/core/stt/stt.py
  agents-core/vision_agents/core/turn_detection/turn_detection.py
  agents-core/vision_agents/core/vad/vad.py
  examples/01_simple_agent_example/simple_agent_example.py
  plugins/deepgram/tests/test_deepgram_stt.py
  plugins/deepgram/vision_agents/plugins/deepgram/deepgram_stt.py
  plugins/fish/vision_agents/plugins/fish/stt.py
  plugins/krisp/vision_agents/plugins/krisp/turn_detection.py
  plugins/smart_turn/vision_agents/plugins/smart_turn/smart_turn_detection.py
  plugins/vogent/example/basic_usage.py
  plugins/vogent/vision_agents/plugins/vogent/vogent_turn_detection.py
  plugins/wizper/vision_agents/plugins/wizper/stt.py
  tests/test_events.py
  tests/test_utils.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, tests, docs, core-agents, core-infrastructure

add update docs
  docs/ai/instructions/ai-update.md
  plugins/deepgram/vision_agents/plugins/deepgram/deepgram_stt.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs

Update converse format. Verbose logging
  plugins/aws/example/aws_llm_function_calling_example.py
  plugins/aws/vision_agents/plugins/aws/aws_llm.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs

Clean up for LLM
  plugins/aws/vision_agents/plugins/aws/aws_llm.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs

working deepgram stt
  agents-core/vision_agents/core/agents/agents.py
  agents-core/vision_agents/core/stt/stt.py
  plugins/deepgram/README.md
  plugins/deepgram/tests/test_deepgram_stt.py
  plugins/deepgram/vision_agents/plugins/deepgram/deepgram_stt.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, tests, docs, core-agents, core-infrastructure

cleanup
  agents-core/vision_agents/core/stt/stt.py
  plugins/deepgram/vision_agents/plugins/deepgram/deepgram_stt.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs, core-infrastructure

cleanup
  plugins/vogent/tests/test_vogent_td.py
  plugins/vogent/vision_agents/plugins/vogent/vogent_turn_detection.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, tests, docs

update vogent
  plugins/vogent/vision_agents/plugins/vogent/vogent_turn_detection.py
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs

Update GitHub Actions branch references
  .github/workflows/python-app.yml
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs, ci

Update GitHub Actions branch references
  .github/workflows/python-app.yml
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs, ci

Add Lawd-STAR feature to devcontainer configuration
  .devcontainer/devcontainer.json
Labels: agents-core, plugins, plugin-getstream, plugin-openai, plugin-gemini, plugin-deepgram, plugin-ultralytics, plugin-elevenlabs, plugin-cartesia, plugin-kokoro, plugin-moonshine, plugin-silero, plugin-smart-turn, plugin-wizper, plugin-xai, plugin-krisp, plugin-anthropic, examples, docs
